In [ ]:
import pandas as pd

Read data from .csv file and save into Pandas data frame (say df)

#$\color{red}{read \_ csv()}$

This is one of the most crucial pandas methods in Python. read_csv() function helps read a comma-separated values (csv) file into a Pandas DataFrame.

In [ ]:
pd.read_csv('Salaries (2).csv')

In [ ]:
df = pd.read_csv('/content/Salaries (2).csv')
df

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

#$\color{red}{head()}$

head(n) is used to return the first n rows of a dataset. By default, df.head() will return the first 5 rows of the DataFrame.

In [ ]:
df.head()

In [ ]:
df.head(7)

#$\color{red}{dtypes}$

check data types(eg. int, float, object)

In [ ]:
df.dtypes #attribute

#$\color{red}{drop \_ duplicates()}$
returns a Pandas DataFrame with duplicate rows removed.

In [ ]:
df.drop_duplicates()

In [ ]:
df

#$\color{red}{drop()}$
drop the column or row

In [ ]:
# Drop complete column
df.drop(columns=['sex'])

In [ ]:
# Drop particular row
df.drop(index=0)

#$\color{red}{inplace=True}$
makes sure the changes are applied to the original dataset.

In [ ]:
df.drop_duplicates(inplace=True) #argument

In [ ]:
df

#$\color{red}{reset \_ index()}$
reset_index() method allows reset the index back to the default 0, 1, 2 etc indexes.

In [ ]:
df.reset_index(drop=True)

In [ ]:
df

In [ ]:
df.reset_index(drop=True,inplace=True)

In [ ]:
df

#$\color{red}{Statistical \ methods}$

##access particular column from the dataframe

In [ ]:
df1 = df['phd']
df1

##$\color{red}{sum()}$
Return the sum of the values.

In [ ]:
df1.sum()

##$\color{red}{count()}$
Return the count of non-empty values.

In [ ]:
df1.count()

##$\color{red}{max()}$
Return the maximum of the values.

In [ ]:
df1.max()

##$\color{red}{min()}$
Return the minimum of the values.

In [ ]:
df1.min()

##$\color{red}{mean()}$
Return the mean of the values.

In [ ]:
df1.mean()

In [ ]:
# skip the NaN values while finding the mean
df1.mean(skipna = True)

In [ ]:
# don't skip the Na values while finding the mean
df1.mean(skipna = False)

##$\color{red}{median()}$
Return the median of the values.

In [ ]:
df1.median()

##$\color{red}{mode()}$
Return the median of the values.

In [ ]:
df1.mode()

##mode() can be applied to object data type also

In [ ]:
df['discipline'].mode()

##$\color{red}{std()}$
Return the standard deviation of the values.

In [ ]:
df1.std()

##$\color{red}{skew()}$
Return the skewness of the values.

In [ ]:
df1.skew()

##$\color{red}{kurt()}$
Return the kurtosis of the values.

In [ ]:
df1.kurt()

##$\color{red}{describe()}$
Return the summary statistics for each column.

In [ ]:
df1.describe()

##$\color{red}{corr()}$
Return the correlation between the columns.

In [ ]:
df[['service','salary']]

In [ ]:
df[['service','salary']].corr()

In [ ]:
df[['service','phd']].corr()

In [ ]:
df[['salary','phd']].corr()

In [ ]:
df[['service','service']].corr()

##methods also can be appied on selected columns

In [ ]:
df[['service','salary']].mean()

##above methods can directly be applied on pandas dataframe df

In [ ]:
df.mean()

In [ ]:
df.mode()

In [ ]:
df.describe()

In [ ]:
df.describe(include=object) # for object data atypes

In [ ]:
df.corr()

In [ ]:
import warnings
warnings.filterwarnings('ignore')
df.mean()

#$\color{red}{skipna = True}$
skip the NaN values while finding the mean

In [ ]:
df.mean(axis=0,skipna = True) #Argument

In [ ]:
df.mean(axis=0,skipna = False)

In [ ]:
df.mean(axis=1,skipna = False)

In [ ]:
df.mean(axis=1,skipna = True)

#$\color{red}{Conditional \ Slicing}$

##conditionally slice a column

In [ ]:
df

In [ ]:
df1 = df['service']
df1

##select rows with service greater equal 15

In [ ]:
df1 >= 15

In [ ]:
df1[df1 > 20]

In [ ]:
df1[df1 >= 25].count()

In [ ]:
df1[df1 == 15].count()

##conditionally slice a dataframe

In [ ]:
df[df1 == 15]

In [ ]:
df[df1 >= 30]

In [ ]:
df['discipline']

In [ ]:
df['discipline']=='A'

In [ ]:
df[df['discipline']=='A']

In [ ]:
df[df['service']>=30]

##Select data olny for Professors

In [ ]:
df[df['rank']=='Prof']

##Select data for Professors of discipline A

In [ ]:
df[(df['rank']=='Prof') & (df['discipline']=='A') & (df['sex']=='Female')]

##Select data for all Professors  and also for discipline A

In [ ]:
df[(df['rank']=='Prof') | (df['discipline']=='A')]

##Select data for female Professors of discipline A

In [ ]:
df[(df['rank']=='Prof') & (df['discipline']=='A') & (df['sex']=='Female')]

In [ ]:
df[(df['rank']=='Prof') & (df['discipline']=='A') & (df['sex']=='Female')]['salary'].mean()

#$\color{red}{groupby()}$
groupby() : is used to group a Pandas DataFrame by 1 or more columns, and perform some mathematical operation on it. groupby() can be used to summarize data in a simple manner.

##mean salaries of employees with their rank

In [ ]:
df.groupby(["rank"])["salary"].mean()

##mean salaries of male female employees with their rank

In [ ]:
df.groupby(["rank", "sex","discipline"])["salary"].mean()

#$\color{red}{value \_ counts()}$
value_counts() returns a Pandas Series containing the counts of unique values. Consider a dataset that contains customer information about 5,000 customers of a company. value_counts() will help us in identifying the number of occurrences of each unique value in a Series.

In [ ]:
df['discipline'].value_counts()

In [ ]:
df['rank'].value_counts()

In [ ]:
df[['discipline','rank']].value_counts()

In [ ]:
df[['rank','discipline']].value_counts()

In [ ]:
df[['service','phd']].corr()

In [ ]:
# prompt: df[['service','phd']].corr() : what this code will do?

The code `df[['service','phd']].corr()` will calculate the Pearson correlation coefficient between the `service` and `phd` columns in the DataFrame `df`.

The Pearson correlation coefficient is a measure of the linear relationship between two variables. It ranges from -1 to 1, where:

* -1 indicates a perfect negative correlation (as one variable increases, the other decreases)
* 0 indicates no correlation
* 1 indicates a perfect positive correlation (as one variable increases, the other increases)

In this case, the code will return a single value, which is the correlation coefficient between the `service` and `phd` columns.

#$\color{red}{sort \_ values()}$
sort_values() is used to sort column in a Pandas DataFrame (or a Pandas Series) by values in ascending or descending order. By specifying the inplace attribute as True, you can make a change directly in the original DataFrame.

In [ ]:
df

In [ ]:
df.sort_values(by='service')

In [ ]:
df.sort_values(by='service', ascending=False)

In [ ]:
df.sort_values(by=['service', 'discipline'])

In [ ]:
df

In [ ]:
df.sort_values(by='service', ascending=False, inplace=True)

In [ ]:
df

#$\color{red}{isna() \ or \ isnull()}$
isna() or isnull() both returns a data frame consisting of true and false values. A true value indicates data is null or missing, while a false one indicates that data is not null and not missing.

In [ ]:
df = pd.read_csv('/content/data_clean1.csv')
df

     Ozone  Solar.R  Wind Month  Day  Year  Temp Weather
0     41.0    190.0   7.4     5    1  2010    67       S
1     36.0    118.0   8.0     5    2  2010    72       C
2     12.0    149.0  12.6     5    3  2010    74      PS
3     18.0    313.0  11.5     5    4  2010    62       S
4      NaN      NaN  14.3     5    5  2010    56       S
..     ...      ...   ...   ...  ...   ...   ...     ...
153   41.0    190.0   7.4     5    1  2010    67       C
154   30.0    193.0   6.9     9   26  2010    70      PS
155    NaN    145.0  13.2     9   27  2010    77       S
156   14.0    191.0  14.3     9   28  2010    75       S
157   18.0    131.0   8.0     9   29  2010    76       C

[158 rows x 8 columns]

In [ ]:
df.isna()

     Ozone  Solar.R   Wind  Month    Day   Year   Temp  Weather
0    False    False  False  False  False  False  False    False
1    False    False  False  False  False  False  False    False
2    False    False  False  False  False  False  False    False
3    False    False  False  False  False  False  False    False
4     True     True  False  False  False  False  False    False
..     ...      ...    ...    ...    ...    ...    ...      ...
153  False    False  False  False  False  False  False    False
154  False    False  False  False  False  False  False    False
155   True    False  False  False  False  False  False    False
156  False    False  False  False  False  False  False    False
157  False    False  False  False  False  False  False    False

[158 rows x 8 columns]

In [ ]:
df.isnull()

     Ozone  Solar.R   Wind  Month    Day   Year   Temp  Weather
0    False    False  False  False  False  False  False    False
1    False    False  False  False  False  False  False    False
2    False    False  False  False  False  False  False    False
3    False    False  False  False  False  False  False    False
4     True     True  False  False  False  False  False    False
..     ...      ...    ...    ...    ...    ...    ...      ...
153  False    False  False  False  False  False  False    False
154  False    False  False  False  False  False  False    False
155   True    False  False  False  False  False  False    False
156  False    False  False  False  False  False  False    False
157  False    False  False  False  False  False  False    False

[158 rows x 8 columns]

You can also count the number of missing values present inside each column using isna().sum() which is applying the sum function on the returned DataFrame after calling isna() method.

In [ ]:
df.isnull().sum()

Ozone      38
Solar.R     7
Wind        0
Month       0
Day         0
Year        0
Temp        0
Weather     3
dtype: int64

#$\color{red}{fillna()}$

Typically in a large dataset, you will find several entries labelled NaN by Python. NaN stands for â€œnot a numberâ€, and represents entries that were not populated in the original data source. While populating the values in the DataFrame, Pandas makes sure that these entries can be identified separately by the user.

fillna() helps to replace all NaN values in a DataFrame or Series by imputing these missing values with more appropriate values.

In [ ]:
# prompt: write a code to find mean value of data frame

import pandas as pd

# Read the data frame
df = pd.read_csv('data.csv')

# Calculate the mean of each column
mean_values = df.mean(axis=0)

# Print the mean values
print(mean_values)

In [ ]:
import numpy as np
X = [2,4,3,6,7,1, 200]
np.mean(X)

31.857142857142858

In [ ]:
np.median(X)

4.0

## Fill Nan with mean

In [ ]:
df['Solar.R']

0      190.000000
1      118.000000
2      149.000000
3      313.000000
4      185.403974
          ...
153    190.000000
154    193.000000
155    145.000000
156    191.000000
157    131.000000
Name: Solar.R, Length: 158, dtype: float64

In [ ]:
df['Solar.R'].mean()

185.40397350993376

In [ ]:
df['Solar.R'].fillna(df['Solar.R'].mean(), inplace=True)

In [ ]:
df['phd'].fillna(round(df['phd'].mean()))

In [ ]:
df[['Ozone', 'Weather']].fillna(round(df[['Ozone', 'Weather']].mean()))

<ipython-input-20-bedc0d0fded3>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df[['Ozone', 'Weather']].fillna(round(df[['Ozone', 'Weather']].mean()))

     Ozone Weather
0     41.0       S
1     36.0       C
2     12.0      PS
3     18.0       S
4     42.0       S
..     ...     ...
153   41.0       C
154   30.0      PS
155   42.0       S
156   14.0       S
157   18.0       C

[158 rows x 2 columns]

##Fill NaN  with median

In [ ]:
df[['phd', 'salary']].fillna(round(df[['phd', 'salary']].median()))

In [ ]:
df

In [ ]:
df['phd'].fillna(df['phd'].median(), inplace=True)
df

##fillna for multiple columns with different values

In [ ]:
df = pd.read_csv('/content/data_clean1.csv')
df

     Ozone  Solar.R  Wind Month  Day  Year  Temp Weather
0     41.0    190.0   7.4     5    1  2010    67       S
1     36.0    118.0   8.0     5    2  2010    72       C
2     12.0    149.0  12.6     5    3  2010    74      PS
3     18.0    313.0  11.5     5    4  2010    62       S
4      NaN      NaN  14.3     5    5  2010    56       S
..     ...      ...   ...   ...  ...   ...   ...     ...
153   41.0    190.0   7.4     5    1  2010    67       C
154   30.0    193.0   6.9     9   26  2010    70      PS
155    NaN    145.0  13.2     9   27  2010    77       S
156   14.0    191.0  14.3     9   28  2010    75       S
157   18.0    131.0   8.0     9   29  2010    76       C

[158 rows x 8 columns]

In [ ]:
df['Weather'].mode()

0    S
Name: Weather, dtype: object

In [ ]:
df.fillna({'Ozone':df['Ozone'].median(), 'Weather':list(df['Weather'].mode())[0]}, inplace=True)

In [ ]:
X=['A','A','B','B','C']
pd1 = pd.DataFrame(X)

In [ ]:
pd1.mode()

   0
0  A
1  B

In [ ]:
df['Weather'].mode()

0    S
Name: Weather, dtype: object

In [ ]:
list(df['Weather'].mode())[0]

'S'

In [ ]:
df['Weather'].fillna('S', inplace=True)
df

     Ozone  Solar.R  Wind Month  Day  Year  Temp Weather
0     41.0    190.0   7.4     5    1  2010    67       S
1     36.0    118.0   8.0     5    2  2010    72       C
2     12.0    149.0  12.6     5    3  2010    74      PS
3     18.0    313.0  11.5     5    4  2010    62       S
4     30.5      NaN  14.3     5    5  2010    56       S
..     ...      ...   ...   ...  ...   ...   ...     ...
153   41.0    190.0   7.4     5    1  2010    67       C
154   30.0    193.0   6.9     9   26  2010    70      PS
155   30.5    145.0  13.2     9   27  2010    77       S
156   14.0    191.0  14.3     9   28  2010    75       S
157   18.0    131.0   8.0     9   29  2010    76       C

[158 rows x 8 columns]

In [ ]:
df.isna().sum()

Ozone      0
Solar.R    0
Wind       0
Month      0
Day        0
Year       0
Temp       0
Weather    0
dtype: int64

##fillna for whole dataframe

In [ ]:
df = pd.read_csv('/content/Salaries (2).csv')
df

In [ ]:
df.fillna(df.mean())